body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#releases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  border: 3px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
  background-color: rgb(230, 230, 230);
}

hr {
  margin-left: 0;
  margin-right: 0;
}

button {
  background-color: rgb(70, 160, 196);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 400px;
  height: 50px ;
  border-style: solid;
  border-color: black;
  text-align: left;
  font-size: large;
}